{{#each products}}
<p>ID: {{this._id}}</p>
<p>Nombre: {{this.title}}</p>
<p>Descripción: {{this.description}}</p>
<p>Código: {{this.code}}</p>
<p>Precio: {{this.price}}</p>
<p>Status: {{this.status}}</p>
<p>Stock: {{this.stock}}</p>
<p>Categoría: {{this.category}}</p>
<br>
<br>
{{/each}}